<H1>UP FILE</H1>


<form method="POST" enctype="multipart/form-data" action="/upload">
    <select name="hour">
        <% var options = []; %>
        <% for(var i = 0; i <= 12; i++) { %>
          <option value='<%= i %>'><%= i %></option>
        <% } %>
    </select>
   
    <input type="file" name="file">
    <input type="submit" value="upload">
</form>


